In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Fricks Nathaniel\Documents\coba-cobaporto\world-data-2023.csv")

In [3]:
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [5]:
#Removing $ in Gasoline price 
df["Gasoline Price"] = df["Gasoline Price"].str.replace('$', '')

C:\Users\Fricks Nathaniel\AppData\Local\Temp\ipykernel_9468\1157274751.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Gasoline Price"] = df["Gasoline Price"].str.replace('$', '')

In [6]:
df["Gasoline Price"]

0      0.70
1      1.36
2      0.28
3      1.51
4      0.97
       ...
190    0.00
191    0.80
192    0.92
193    1.40
194    1.34
Name: Gasoline Price, Length: 195, dtype: object

In [7]:
#Removing $ in Minimum wage 
df["Minimum wage"] = df["Minimum wage"].str.replace('$', '')

C:\Users\Fricks Nathaniel\AppData\Local\Temp\ipykernel_9468\177963926.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Minimum wage"] = df["Minimum wage"].str.replace('$', '')

In [8]:
df["Minimum wage"]

0      0.43
1      1.12
2      0.95
3      6.63
4      0.71
       ...
190    0.01
191    0.73
192      NaN
193    0.24
194      NaN
Name: Minimum wage, Length: 195, dtype: object

In [9]:
columns_to_convert = ["Gasoline Price", "CPI","Minimum wage"]

In [10]:
#converting Gasoline Price, CPI, and Minimum wage  data types
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [11]:
missing_values = df.isna().sum()

In [12]:
print(missing_values)

Country                                       0
Density\n(P/Km2)                              0
Abbreviation                                  7
Agricultural Land( %)                         7
Land Area(Km2)                                1
Armed Forces size                            24
Birth Rate                                    6
Calling Code                                  1
Capital/Major City                            3
Co2-Emissions                                 7
CPI                                          20
CPI Change (%)                               16
Currency-Code                                15
Fertility Rate                                7
Forested Area (%)                             7
Gasoline Price                               20
GDP                                           2
Gross primary education enrollment (%)        7
Gross tertiary education enrollment (%)      12
Infant mortality                              6
Largest city                                  6
Life expectancy                               8
Maternal mortality ratio                     14
Minimum wage                                 45
Official language                             1
Out of pocket health expenditure              7
Physicians per thousand                       7
Population                                    1
Population: Labor force participation (%)    19
Tax revenue (%)                              26
Total tax rate                               12
Unemployment rate                            19
Urban_population                              5
Latitude                                      1
Longitude                                     1
dtype: int64

In [13]:
#Filling missing values in CPI using mean
df["CPI"].fillna(df["CPI"].mean(), inplace=True)

In [14]:
df["CPI"]

0      149.9000
1      119.0500
2      151.3600
3      144.1936
4      261.7300
         ...
190    144.1936
191    163.5200
192    157.5800
193    212.3100
194    105.5100
Name: CPI, Length: 195, dtype: float64

In [16]:
#Filling missing values in Gasoline Price using median
df["Gasoline Price"].fillna(df["Gasoline Price"].median(), inplace=True)

In [17]:
df["Gasoline Price"]

0      0.70
1      1.36
2      0.28
3      1.51
4      0.97
       ...
190    0.00
191    0.80
192    0.92
193    1.40
194    1.34
Name: Gasoline Price, Length: 195, dtype: float64

In [18]:
#Filling missing values in Minimum wage using median
df["Minimum wage"].fillna(df["Minimum wage"].median(), inplace=True)

In [19]:
df["Minimum wage"]

0      0.430
1      1.120
2      0.950
3      6.630
4      0.710
       ...
190    0.010
191    0.730
192    1.045
193    0.240
194    1.045
Name: Minimum wage, Length: 195, dtype: float64

In [20]:
print(missing_values)

Country                                       0
Density\n(P/Km2)                              0
Abbreviation                                  7
Agricultural Land( %)                         7
Land Area(Km2)                                1
Armed Forces size                            24
Birth Rate                                    6
Calling Code                                  1
Capital/Major City                            3
Co2-Emissions                                 7
CPI                                          20
CPI Change (%)                               16
Currency-Code                                15
Fertility Rate                                7
Forested Area (%)                             7
Gasoline Price                               20
GDP                                           2
Gross primary education enrollment (%)        7
Gross tertiary education enrollment (%)      12
Infant mortality                              6
Largest city                                  6
Life expectancy                               8
Maternal mortality ratio                     14
Minimum wage                                 45
Official language                             1
Out of pocket health expenditure              7
Physicians per thousand                       7
Population                                    1
Population: Labor force participation (%)    19
Tax revenue (%)                              26
Total tax rate                               12
Unemployment rate                            19
Urban_population                              5
Latitude                                      1
Longitude                                     1
dtype: int64

In [22]:
df_gasoline_price_comparison = df[["Country","Abbreviation","Density\n(P/Km2)","Land Area(Km2)","CPI","Gasoline Price","GDP","Minimum wage","Population","Latitude","Longitude"]]

In [23]:
df_gasoline_price_comparison

,Country,Abbreviation,Density\n(P/Km2),Land Area(Km2),CPI,Gasoline Price,GDP,Minimum wage,Population,Latitude,Longitude
0,Afghanistan,AF,60,"652,230",149.9000,0.70,"$19,101,353,833",0.430,"38,041,754",33.939110,67.709953
1,Albania,AL,105,"28,748",119.0500,1.36,"$15,278,077,447",1.120,"2,854,191",41.153332,20.168331
2,Algeria,DZ,18,"2,381,741",151.3600,0.28,"$169,988,236,398",0.950,"43,053,054",28.033886,1.659626
3,Andorra,AD,164,468,144.1936,1.51,"$3,154,057,987",6.630,"77,142",42.506285,1.521801
4,Angola,AO,26,"1,246,700",261.7300,0.97,"$94,635,415,870",0.710,"31,825,295",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,VE,32,"912,050",144.1936,0.00,"$482,359,318,768",0.010,"28,515,829",6.423750,-66.589730
191,Vietnam,VN,314,"331,210",163.5200,0.80,"$261,921,244,843",0.730,"96,462,106",14.058324,108.277199
192,Yemen,YE,56,"527,968",157.5800,0.92,"$26,914,402,224",1.045,"29,161,922",15.552727,48.516388
193,Zambia,ZM,25,"752,618",212.3100,1.40,"$23,064,722,446",0.240,"17,861,030",-13.133897,27.849332
194,Zimbabwe,ZW,38,"390,757",105.5100,1.34,"$21,440,758,800",1.045,"14,645,468",-19.015438,29.154857

In [24]:
df_gasoline_price_comparison.to_csv("output.csv", index=False)